<%- include("../header"); %>
<style>
    .video-btn {
      margin-left: auto;
      display: block;
    }
    .button-row .form-control {
      width: 90%;
    }
    .button-row {
      display: flex;
      align-items: center;
    }
</style>
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <div class="app-page  flex-column flex-column-fluid " id="kt_app_page">
        <%- include("../navbar"); %>
        <div class="app-wrapper  flex-column flex-row-fluid " id="kt_app_wrapper">
            <%- include("../sidebar"); %>
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <div class="d-flex flex-column flex-column-fluid">
                    <div id="kt_app_content" class="app-content  flex-column-fluid " >
                        <div id="kt_app_content_container" class="app-container  container-fluid ">
                            <form id="kt_ecommerce_add_video_form" class="form d-flex flex-column flex-lg-row" action="/admin/video/doUpdateVideo" method="post" enctype="multipart/form-data">
                                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                                    <div class="card card-flush py-4">      
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>General</h2>
                                            </div>
                                        </div>
                                        <div class="card-body pt-0">    

                                            <div class="mb-10 fv-row"> 
                                              <label class="required form-label">Category</label>
                                              <select id="category" name="category" class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="false" data-placeholder="Select Category">
                                                <option value="">Select Category</option>
                                                <option value="Product Videos" <%= videoData.category === "Product Videos" ? 'selected' : '' %>>Product Videos</option>
                                                <option value="Climate Consciousness" <%= videoData.category === "Climate Consciousness" ? 'selected' : '' %>>Climate Consciousness</option>
                                              </select>
                                              <span id="categoryErr" class="text-danger removeErr"></span>
                                            </div>


                                            <div class="mb-10 fv-row">                      
                                                <label class="required form-label">Title</label>
                                                <input type="text" name="title" class="form-control mb-2" placeholder="Title" value="<%= videoData.title %>" />
                                                <span id="titleErr" class="text-danger removeErr"></span>
                                            </div>

                                            <div class="mb-10 fv-row">
                                                <label class="form-label required">Embedded Video</label>
                                                <textarea
                                                  name="video"
                                                  cols="4"
                                                  rows="4"
                                                  class="form-control mb-2"
                                                ><%- videoData.video %></textarea>
                                                <span
                                                  id="videoErr"
                                                  class="text-danger removeErr"
                                                ></span>
                                            </div>                                            

                                            <div class="mb-10 fv-row">
                                                <label class="form-label row container-fluid required">Featured Image</label>
                                                <input type="file" name="featuredImg" class="form-control mb-2" accept=".png, .jpg, .jpeg">
                                                <div class="form-text">Allowed file types: jpg, jpeg and png.</div>
                                                <span id="featuredImgErr" class="text-danger removeErr"></span>

                                                <% if(videoData.featuredImg) { %>
                                                
                                                <div class="image-input image-input-outline mt-10" data-kt-image-input="true" style="background-image: url('../media/blank.svg')">
                                                    <div class="image-input-wrapper w-125px h-125px" style="background-image: url('/<%= videoData.featuredImg %>')"></div>
                                                </div>

                                                <% } %>
                                            </div>
                                        </div>                                        
                                    </div>
                                    
                                    <div class="d-flex justify-content-end">

                                        <a href="/admin/video" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>

                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="_id" value="<%= videoData._id %>">
                                        <button type="submit" class="btn btn-primary">
                                            <span class="indicator-label">
                                                Save Changes
                                            </span>
                                            <span class="indicator-progress">
                                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>        
                        </div>           
                    </div>
                </div>
                <%- include("../sub_footer"); %>
            </div>
        </div>
    </div>
</div>
<%- include("../footer"); %>