<%- include("../header"); %>
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <div class="app-page  flex-column flex-column-fluid " id="kt_app_page">
        <%- include("../navbar"); %>
        <div class="app-wrapper  flex-column flex-row-fluid " id="kt_app_wrapper">
            <%- include("../sidebar"); %>
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <div class="d-flex flex-column flex-column-fluid">
                    <div id="kt_app_content" class="app-content  flex-column-fluid " >
                        <div id="kt_app_content_container" class="app-container  container-fluid ">
                            <form id="kt_ecommerce_add_product_form" class="form d-flex flex-column flex-lg-row" action="/admin/product-variants/doUpdateProductVariants" method="post" enctype="multipart/form-data">
                                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                                    <div class="card card-flush py-4">      
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>General</h2>
                                            </div>
                                        </div>
                                        <div class="card-body pt-0">

                                            <div class="mb-10 fv-row"> 
                                                <label class="required form-label">Product</label>
                                                <select id="product" name="product" class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="false" data-placeholder="Select Product">
                                                    <option value="">Select Product</option>
                                                    <% products.forEach(product => { 
                                                        let isSel = "";
                                                        if(variantData.productId._id.toString() == product._id.toString()) {
                                                            isSel = "selected";
                                                        }
                                                    %>
                                                        <option <%= isSel %> value="<%= product._id %>"><%= product.title %></option>
                                                    <% }); %>
                                                </select>
                                                <span id="productErr" class="text-danger removeErr"></span>
                                            </div>
                                            
                                            <div class="mb-10 fv-row">                      
                                                <label class="required form-label">Title</label>
                                                <input type="text" name="title" class="form-control mb-2" placeholder="Title" value="<%= variantData.title %>" />
                                                <span id="titleErr" class="text-danger removeErr"></span>
                                            </div>

                                            <div class="mb-10 fv-row">
                                                <label class="form-label required">Description</label>
                                                <!-- <div id="description" name="description" class="min-h-200px mb-2"><%- variantData.description %></div> -->
                                                <textarea name="description" cols="4" rows="4" class="form-control mb-2 description"><%- variantData.description %></textarea>
                                                <span id="descriptionErr" class="text-danger removeErr"></span>
                                            </div>

                                            <div class="mb-10 fv-row">
                                                <label class="form-label row container-fluid">PDF</label>
                                                <input type="file" name="productPdf" class="form-control mb-2" accept=".pdf">
                                                <div class="form-text">Allowed file types: pdf.</div>
                                                <span id="productPdfErr" class="text-danger removeErr"></span>

                                                <% if(variantData.pdf) { %>
                                                
                                                <div id="addImgDiv_<%= variantData._id %>" class="image-input image-input-outline mt-10" data-kt-image-input="true" style="background-image: url('../../../media/blank.svg') !important">
                                                    <div class="image-input-wrapper w-125px h-125px" style="background-image: url('/<%= variantData.pdf %>')"></div>
                                                    <label 
                                                    onclick="removeAttachment(this)" 
                                                    data-url="/admin/product-variants/doDeletePdf"
                                                    data-csrf="<%= csrfToken %>"
                                                    data-id="<%= variantData._id %>"
                                                    data-attachment="<%= variantData.pdf %>"
                                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Remove PDF">
                                                        <i class="ki-outline ki-cross fs-2"></i>
                                                    </label>
                                                </div>

                                                <% } %>

                                            </div>
                                        </div>                                        
                                    </div>
                                    
                                    <div class="d-flex justify-content-end">

                                        <a href="/admin/product-variants" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>

                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="_id" value="<%= variantData._id %>">
                                        <button type="submit" class="btn btn-primary">
                                            <span class="indicator-label">
                                                Save Changes
                                            </span>
                                            <span class="indicator-progress">
                                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>        
                        </div>           
                    </div>
                </div>
                <%- include("../sub_footer"); %>
            </div>
        </div>
    </div>
</div>
<%- include("../footer"); %>